.homie {
  padding: 20px;
  position: relative;
  margin: 20px auto;
}

.homie .card-header {
  font-size: 24px;
}

.homie .tournament {
  padding-top: 8px;
}

.homie .close {
  cursor: pointer;
  position: absolute;
  width: 20px;
  top: 5px;
  right: 10px;
}

#homies .add-button {
  display: block;
  margin: 25px auto;
}
