p {
  font-size: 30px;
}

#top-x {
  text-align: center;
}

#pkmn-img {
  filter: brightness(0%);
  max-width: 100%;
  transition: 1s;
}
#pkmn-img.normal {
  filter: brightness(100%) !important;
}

.card {
  max-width: 500px;
  margin: auto;
  border-radius: 15px;
  text-align: center;
}

label {
  font-size: 20px;
}

#top-x select,
#top-x input,
#top-x button {
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  background-color: transparent !important;
  color: white;
}

#top-x select > option {
  background-color: var(--dark);
}

.guess {
  border: solid 2px;
}

.pokedex {
  text-align: center;
  position: relative;
  max-width: 632px;
  margin: 5% auto;
}

.pokedex img {
  width: 80%;
}

#pokedex-list {
  position: absolute;
  top: calc(26% - 20px);
  left: 17%;
  text-align: left;
  font-size: 20px;
  right: 24%;
  bottom: 15%;
  overflow: auto;
}

@media screen and (min-width: 1800px) {
  .pokedex {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 510px;
  }
}
