p {
  font-size: 30px;
}

#top-x h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

#top-x {
  text-align: center;
}
tbody tr:nth-child(odd) {
  background-color: var(--primaryDark);
  color: #fff;
}

#top-x table {
  margin: auto;
}

#top-x table td {
  min-width: 100px;
  height: 20px;
}

.show-hide-auto-invites-button {
  margin: 20px;
}
