.subTypes .form-check{
    padding-top: 3px;
    margin: 10px auto !important;
    border-radius: 35px;
    text-align: left;
    width: 220px;
    line-height: 40px;
    font-size: 18px;
    height: 43px;
}

.subTypes .form-check-input{
    padding: 12px;
    float: right;
    position: relative;
    right: 8px;
}

.form-check-label{
    margin-left: 10px;
}

.form-check-label img{
    width: 30px;
    position: relative;
    top: 4px;
}

.form-check-label span{
    position: relative;
    top: -4px;
}
/* Basic styling */

[type=checkbox] {
    width: 2rem;
    height: 2rem;
    color: var(--primary);
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
  }
  
  
  /* Pseudo element for check styling */
  
  [type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px var(--light);
    position: relative;
    right: 12px;
    bottom: 12px;
  }
  
  
  /* Checked */
  
  [type=checkbox]:checked {
    background-color: currentcolor;
  }
  
  [type=checkbox]:checked::before {
    position: relative;
    bottom: 11px;
    right: 11px;
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
  }
  


  